@charset "EUC-KR";

header{
	 position:fixed;
	 top:0px;
	 left:0px;
	 width:100%;
	 height:40px;
	 line-height:40px;
	 text-align:center;
	 background-color:orange;
	 font-size:20px;
}

nav{
	 position:fixed;
	 top:40px;
	 left:0px;
	 width:100%;
	 height:30px;
	 line-height:30px;
	 background-color:pink;
	 padding-left:20px;
}

footer{
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	height:30px;
	line-height:30px;
	background-color:orange;
	text-align:center;
}

section{
	position:fixed;
	top:70px;
	left:0px;
	width:100%;
	height:100%;
	background-color:lightgray;
}

section h1{
	text-align:center;
}

section h2{
	text-align:center;
}

form{
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:center;
}
